.conteiner-center {
    margin: 0 auto;
    max-width: 800px;
    padding: 15px 25px;
}

.conteiner-center::after {
    display: block;
    clear: both;
    content: '';
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

h2 {
    margin: 25px 0 14px 0;
}

h2.first {
    margin-top: 0;
}

pre {
    background-color: #ebebeb;
    padding: 10px 15px;
    overflow: auto;
}


/*  */

.mainHeader {
    border-bottom: solid 1px #dbdbdb;
    margin-bottom: 15px;
}

.mainHeader .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    float: right;
}

.mainContent {}

.mainFooter {
    margin-top: 15px;
    background-color: #444;
    color: #ffffff;
    text-align: center;
    line-height: 28px;
}

.mainFooter a {
    color: inherit;
}

.mainFooter-courseInfo {
    background-color: #dbdbdb;
    color: #000;
}

.mainFooter-courseInfo img {
    height: 35px;
}